.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.myPicture
{
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  width: 20rem;
  height: 25rem;
  border-radius: 5%;
  box-shadow: #282c34 4px 4px;
  z-index: 1;
  
}

.myState
{
  justify-content: center;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  background-color: #282c34; 
  opacity: .2; 
  border-radius: 5px;
  box-shadow: #282c34 4px 4px;
  z-index: 1;
}
#state1
{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  margin-right: 10rem;
  margin-left: 10rem;
  box-shadow: #282c34 4px 4px;
  z-index: 1;
}
#state2
{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  margin-right: 10rem;
  margin-left: 10rem;
  box-shadow: #282c34 4px 4px;
  z-index: 1;
}
#state3
{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  margin-right: 10rem;
  margin-left: 10rem;
  box-shadow: #282c34 4px 4px;
  z-index: 1;
}

.dynNav
{
  position: fixed;
  z-index: 2;
  
  margin-left: 50rem;
}

ul
{
  display: flex;
  flex-direction: column;
  list-style: none;
  
}
ul:visited
{
 text-decoration: none;
}
#li1
{
  list-style: none;
  display: flex;
  background-color: #282c34;
  justify-content: space-around;
  margin-top: 1.5rem;
  text-decoration: none;

}
#li2
{
  list-style: none;
  display: flex;
  background-color: #282c34;
  margin-top: 1.5rem;
  justify-content: space-around;
  text-decoration: none;

}
#li3
{
  list-style: none;
  display: flex;
  background-color: #282c34;
  margin-top: 1.5rem;
  justify-content: space-around;
  text-decoration: none;
}
#li1:visited , #li2:visited , #li3:visited
{
  color: white;
} 

